@model IEnumerable<WinheTest2.Models.ProductModel>

<p>
    <a href="@Url.Action("Add")" class="btn btn-primary">Create New</a>
    
</p>
<div>
    <form method="post" action="/Product/Search">
        <input  name="searchText" id="searchText" />
        <input type="submit" value="Search"/>
    </form>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchasePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellingPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.ProductId })" class="btn btn-primary">Edit</a> |
            <a href="@Url.Action("Delete", new { id = item.ProductId })" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}

</table>
